body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

  /* Custom fonts */
  @font-face {
    font-family: 'Tw Cen MT';
    src: url(./fonts/Tw/TCCM____.TTF) format('truetype');
    font-style: normal; 
  }
  
  @font-face {
    font-family: 'Mainframe';
    src: url(./fonts/Mainframe/mainframe-opto.ttf) format('truetype');
  }
  
  @font-face {
    font-family: 'Sanchez';
    src: url(./fonts/Sanchez/Sanchezregular.otf) format('truetype');
  }
